.main-page-header{
    margin: 0 auto;
    font-family: 'Lugrasimo', cursive;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.874);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-page-header-h1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
}

.search-news{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.news-input{
    width: 80%;
    height: 2.2rem;
    border-radius: 5px;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    border: 0.5px solid white;
}

.news-button{
    height: 2.3rem;
    width: 20%;
    margin-left: 10px;
    background-color: #3180e0;
    color: white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

@media screen and (width<=1024px) {
    .news-input{
        width: 90%;
    }
    
    .news-button{
        width: 30%;
        font-size: 1rem;
    }
}

@media screen and (width<=768px) {
    .search-news{
        width: 40%;
    }

    .news-input{
        font-size: 0.9rem;
    }

    .news-button{
        font-size: 0.9rem;
    }
}

@media screen and (width<=425px) {
    .main-page-header{
        flex-direction: column;
        height: 120px;
    }
    
    .main-page-header-h1{
        font-size: 2rem;
    }

    .search-news{
        width: 60%;
        margin-bottom: 10px;
    }

    .news-input{
        width: 90%;
        font-size: 0.8rem;
    }

    .news-button{
        font-size: 0.8rem;
    }
}


@media screen and (width<=375px) {
    .main-page-header-h1{
        font-size: 1.8rem;
    }

    .search-news{
        width: 80%;
    }

    .news-input{
        width: 90%;
        font-size: 0.75rem;
    }

    .news-button{
        font-size: 0.75rem;
    }
}

@media screen and (width<=320px) {
    .main-page-header-h1{
        font-size: 1.8rem;
    }

    

    .news-input{
        width: 90%;
        font-size: 0.75rem;
    }

    .news-button{
        width: 45%;
        font-size: 0.75rem;
    }
}